<template>
  <transition name="fade">
    <vue-final-modal
      :ssr="true"
      v-slot="{ params, close }"
      v-bind="$attrs"
      v-on="$listeners"
      classes="flex justify-center items-center"
      :content-class="`relative flex flex-col max-h-full mx-4 pt-5 pb-5 px-6 border border-neutral-500 text-neutral-50 rounded-lg bg-neutral-800 ${modalClass}`"
      v-if="$attrs.value"
    >
      <span class="ml-2 mb-4 text-2xl font-bold">
        <slot name="title"></slot>
      </span>
      <div class="flex-grow overflow-y-auto">
        <slot :params="params"></slot>
      </div>
      <div class="relative">
        <slot name="footer"></slot>
      </div>
      <button
        class="absolute top-3 right-3 mt-2 mr-4 p-1 rounded-lg hover:bg-neutral-400 transition"
        @click="close"
      >
        <CloseIcon class="w-5 fill-current" />
      </button>
    </vue-final-modal>
  </transition>
</template>

<script setup>
import { VueFinalModal } from 'vue-final-modal'
import CloseIcon from './icons/close.vue'

defineProps({
  modalClass: String,
})
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
  transition-timing-function: ease-in-out;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
