<template>
  <div class="md:w-screen md:max-w-screen-xl">
    <button
      v-if="!state.playing && state.loaderReady"
      @click="wololo"
      class="animate-pulse bg-cyan-500 text-slate-50 py-3 px-6 w-fit uppercase font-semibold text-2xl rounded-lg shadow-xl absolute mt-8 top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 z-50"
    >
      Play
    </button>
    <div class="flex justify-center items-center w-full h-full">
      <div v-if="!state.playing" class="w-full h-full">
        <nuxt-img
          preload
          src="/images/splash-screen-opt.png"
          alt="Game splash screen"
          height="720"
          width="1280"
        />
      </div>
      <canvas
        v-show="state.playing"
        ref="gamecanvas"
        id="glcanvas"
        tabindex="1"
        height="720"
      ></canvas>
    </div>
  </div>
</template>

<script setup>
import { reactive, onBeforeMount, nextTick, ref } from '@nuxtjs/composition-api'

let state = reactive({ playing: false, loaderReady: false })
let externalScript = ref(null)
const gamecanvas = ref(null)

const setLoaderReady = function () {
  state.loaderReady = true
  console.log('Wasm LoaderIsReady!')
}

onBeforeMount(() => {
  //If we've already loaded the script, then just return.
  if (document.querySelector('#macroquad-js')) {
    setLoaderReady()
    return
  }

  externalScript.value = document.createElement('script')
  externalScript.value.onload = setLoaderReady
  /* externalScript.value.setAttribute(
    'src',
    'https://not-fl3.github.io/miniquad-samples/mq_js_bundle.js'
  ) */
  externalScript.value.setAttribute('src', '/mq-js-bundle.js')
  externalScript.value.setAttribute('id', 'macroquad-js')
  document.body.appendChild(externalScript.value)
})

const wololo = () => {
  macroquadjs.load(`/assets/macroquad-test.wasm`)
  state.playing = true

  nextTick(() => {
    gamecanvas.value.focus()
  })
}
</script>

<style lang="scss" scoped>
html,
body,
canvas {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 720px;
  overflow: hidden;
  position: relative;
  background: black;
  z-index: 0;
}
</style>
