$primary: #20BF55;
$primary-darker: #0B3F1C;
$accent: #01BAEF;
$secondary: #0B4F6C;
$light-gray: #757575;
$dark-gray: #262626; // Corresponds to neutral-800 in tailwind.
$white: #FBFBFF;
$black: #161616;

$footer-height: 30px;