<template>
  <div class="max-w-3xl container mx-auto">
    <h1>OMG LAYOUTS</h1>
    <Nuxt />
  </div>
</template>

<style lang="scss">
body {
  background-color: $dark-gray;
  color: white;
}

h1 {
  color: green;
}
</style>