<template>
  <article>
    <h1 class="text-4xl m-4">{{ article.title }}</h1>
    <nuxt-content :document="article" />
  </article>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const article = await $content('articles', params.slug).fetch()

    return { article }
  },
  layout: 'blog',
}
</script>

<style lang="scss" scoped>
</style>