<template>
  <div class="blog-home__container">
    <div class="blog-home__header">
      <h1>Hello!</h1>
    </div>
    <div class="blog-home__main">
      <ul :v-if="articles" class="blog-home__article-list">
        <li
          class="blog-home__article-item"
          v-for="article in articles"
          :key="article.slug"
        >
          <nuxt-link
            :to="{ name: 'blog-slug', params: { slug: article.slug } }"
          >
            <h3 class="blog-home__article-title">{{ article.title }}</h3>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const articles = await $content('articles')
      .fetch()
      .catch((err) => {
        console.log(err)
      })

    return { articles }
  },
  layout: 'blog',
}
</script>

<style>
</style>