<template>
  <div class="h-screen w-screen">
    <button
      v-if="!state.playing"
      @click="wololo"
      class="bg-white text-black p-3 absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 z-50"
    >
      Click Me!
    </button>
    <div class="flex justify-center items-center w-full h-full">
      <canvas ref="gamecanvas" id="glcanvas" tabindex="1"></canvas>
    </div>
  </div>
</template>

<script setup>
import { reactive, onBeforeMount, nextTick, ref } from '@nuxtjs/composition-api'

let state = reactive({ playing: false })
const gamecanvas = ref(null)

onBeforeMount(() => {
  let externalScript = document.createElement('script')
  externalScript.setAttribute(
    'src',
    'https://not-fl3.github.io/miniquad-samples/mq_js_bundle.js'
  )
  document.body.appendChild(externalScript)
})

const wololo = () => {
  console.time('Load wasm')
  window.load(`/assets/macroquad-test.wasm`)
  console.timeEnd('Load wasm')
  state.playing = true

  nextTick(() => {
    gamecanvas.value.focus()
  })
}
</script>

<style lang="scss" scoped>
html,
body,
canvas {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 720px;
  overflow: hidden;
  position: relative;
  background: black;
  z-index: 0;
}
</style>
