<template>
  <div class="app">
    <TopSection />

    <client-only>
      <Particles v-if="!isFirefox" />
      <!-- <GoToTop /> -->
    </client-only>

    <GameModal />

    <MainFooter />
  </div>
</template>

<script>
import TopSection from '../components/homepage/TopSection.vue'
import MainFooter from '../components/homepage/Footer.vue'
import Particles from '../components/homepage/Particles.vue'
import GoToTop from '../components/homepage/GoToTop.vue'
import GameModal from '~/components/homepage/GameModal.vue'

export default {
  name: 'App',
  components: { TopSection, MainFooter, Particles, GoToTop, GameModal },
  data() {
    return {
      nav: false,
      sidenav: false,
      isFirefox: false,
    }
  },
  mounted() {
    if (process.BROWSER_BUILD && navigator) {
      this.$data.isFirefox =
        navigator.userAgent.toLowerCase().indexOf('firefox') > -1
    }
  },
  methods: {
    toggleSideNav() {
      this.sidenav = !this.sidenav
    },
    closeSideNav() {
      this.sidenav = false
    },
  },
}
</script>

<style lang="scss">
@import './assets/styles/main.scss';

body {
  margin: 0;
  background-color: $dark-gray;
  user-select: none;
}

body::-webkit-scrollbar {
  width: 1em;
  position: absolute;
  background: $dark-gray;
}

body::-webkit-scrollbar-thumb {
  background-color: slategray;
  border-radius: 15px;
}

a {
  color: #1976d2;
  background-color: transparent;
}

.app {
  overflow: hidden;
  font-size: 14pt;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100%;
}
</style>
