<template>
  <div class="footer">
    <span class="footer__text">
      Copyright © 2022 Luis González. All rights reserved.
    </span>
    <span class="footer__text">
      Picture:
      <a href="https://www.google.com/search?q=Mount+Roraima&oq=Mount+Roraima">
        Mount Roraima
      </a>
    </span>
  </div>
</template>

<style lang="postcss" scoped>
.footer {
  @apply overflow-hidden fixed bottom-0 h-7 w-full mt-7 mb-2 z-10 text-center bg-transparent box-border;
}

.footer__text {
  @apply text-white w-auto;
}
</style>

<style lang="scss" scoped>
.footer {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-display: swap;

  @media (max-width: 1024px) {
    height: auto;
    margin: 10px auto;
    padding: 0 10px;
  }

  &__text {
    font-size: 0.8em;
  }
}
</style>
