<template>
  <div>
    <CustomModal v-model="state.showModal" @confirm="confirm" @cancel="cancel">
      <!-- Probably turning this into tabs would be nice to show more games in the future -->
      <template v-slot:title>Space Pizza Attack</template>

      <Experiment />

      <template v-slot:footer>
        <div class="flex justify-end mt-2 px-3">
          <span class="inline-block text-white">
            <Gitlab class="w-4 h-full inline-block fill-current" />

            <a
              href="https://gitlab.com/luis-agm/macroquad-test"
              class="text-blue-400 hover:underline"
              target="_blank"
            >
              See on GitLab
            </a>
          </span>
        </div>
      </template>
    </CustomModal>

    <button
      @click="toggleModal"
      class="animate-pulse font-semibold invisible xl:visible absolute top-10 right-3 transform rotate-45"
    >
      Play a Game!
      <span class="block">
        <img
          class="w-8 h-8 m-auto mt-1 transform -rotate-45"
          src="/assets/pizza_borderless_sm.png"
          alt="Pizza slice image"
        />
      </span>
    </button>
  </div>
</template>

<script setup>
import Gitlab from '../icons/gitlab.vue'
import { reactive } from '@nuxtjs/composition-api'

const state = reactive({
  showModal: false,
})

const toggleModal = () => {
  state.showModal = !state.showModal
}

const confirm = () => {
  state.showModal = false
}

const cancel = (close) => {
  close()
}
</script>
