<template>
  <div
    class="go-to-top__container"
    :class="{ 'go-to-top__container--hidden': false }"
    @click="handleClick"
  >
    <i class="go-to-top__icon fa fa-2x fa-arrow-up"></i>
  </div>
</template>

<script>
import { defineComponent } from '@nuxtjs/composition-api'
import { debounce } from '../../utils'


//TODO: THIS COMPONENT NEEDS FONTAWESOME
export default defineComponent({
  data() {
    return {
      isHidden: false,
    }
  },
  created() {
    this.debouncedHandleScroll = debounce(this.handleScroll, 100)
    window.addEventListener('scroll', this.debouncedHandleScroll)
  },
  beforeUnmount() {
    window.removeEventListener('scroll', this.debouncedHandleScroll)
  },
  methods: {
    handleScroll() {
      this.isHidden = !window.scrollY > 0
    },
    handleClick() {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    },
  },
})
</script>

<style lang="postcss">

.go-to-top__container {
  @apply flex fixed;
}

</style>

<style lang="scss" scoped>
.go-to-top {
  &__container {
    bottom: 5vh;
    right: 2vw;
    height: 30px;
    width: 30px;
    justify-content: center;

    &--hidden {
      visibility: visible;
    }
  }
}
</style>
