<template>
  <div class="particles__container">
    <div id="particles"></div>
  </div>
</template>

<script>
export default {
  mounted() {
    require('particles.js')
    // There has to be a better fucking way to get the baseURL in netlify deploy previews.
    // Probably will have to add a plugin to get the $DEPLOY_URL at build time.
    this.$axios
      .get(`/assets/particles.config.min.json`)
      .then(({ data: config }) => {
        console.log(config)
        setTimeout(() => {
          window.particlesJS('particles', config)
        }, 0)
      })
  },
}
</script>

<style lang="scss" scoped>
.particles__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  #particles {
    width: 100%;
    height: 100%;
  }
}
</style>
