<template>
  <div id="top-section" class="top-section">
    <div class="top-section__container">
      <div class="top-section__banner">
        <div class="top-section__title">
          <h1 class="top-section__main-banner name">Luis González</h1>
          <transition name="fade">
            <span
              v-show="state.showTag === true"
              class="top-section__main-banner great"
            >
              {{ state.currentTag }}
            </span>
          </transition>
          <h1 class="top-section__main-banner developer">Developer</h1>
        </div>

        <div class="top-section__buttons">
          <TopButton
            v-for="{ name, IconComponent, text, link } in buttons"
            :key="name"
            :IconComponent="IconComponent"
            :text="text"
            :link="link"
          ></TopButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, reactive } from '@nuxtjs/composition-api'
import TopButton from './TopButton.vue'

import Code from '../icons/code.vue'
import Gitlab from '../icons/gitlab.vue'
import Linkedin from '../icons/linkedin.vue'
import Twitter from '../icons/twitter.vue'

let state = reactive({
  showTag: true,
  currentTag: 'FullStack',
  tagPos: 0,
})

const tags = [
  'JavaScript',
  'Rust',
  'NodeJS',
  'Vue',
  'React',
  'FullStack',
  'AWS',
  'Google Cloud',
]
const buttons = [
  {
    IconComponent: Gitlab,
    text: 'GitLab',
    link: 'https://gitlab.com/luis-agm',
  },
  {
    IconComponent: Linkedin,
    text: 'LinkedIn',
    link: 'https://linkedin.com/in/luis-agm-dev',
  },
  {
    IconComponent: Code,
    text: 'CodeSandbox',
    link: 'https://codesandbox.io/u/luis-agm/',
  },
  {
    IconComponent: Twitter,
    text: 'Twitter',
    link: 'https://twitter.com/lagonz94',
  },
]

const cycleTags = () => {
  state.showTag = false
  setTimeout(() => {
    state.currentTag = tags[state.tagPos]
    state.tagPos === tags.length - 1 ? (state.tagPos = 0) : (state.tagPos += 1)
    state.showTag = true
  }, 300)
}

onMounted(() => {
  setInterval(() => {
    cycleTags()
  }, 1500)
})
</script>

<style lang="postcss" scoped>
.top-section {
  @apply h-screen flex flex-col flex-auto items-center justify-center px-2;
}

.top-section__banner {
  @apply z-20 flex flex-row justify-around self-center max-w-screen-xl;
  @media (max-width: 1024px) {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
  }
}

.top-section__main-banner {
  @apply 2xl:text-7xl lg:text-6xl sm:text-6xl xs:text-4xl  whitespace-nowrap;
}
</style>

<style lang="scss" scoped>
.top-section {
  background: radial-gradient(
      ellipse at 50% 60%,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 5)
    ),
    url('/images/moreSky.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-display: swap;

  @media (max-width: 1024px) {
    padding: 0;
  }

  &__container {
    display: flex;
    flex-flow: row nowrap;
    z-index: 10;
    margin-top: -65px;

    @media (max-width: 1024px) {
      width: 70%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 220px;
    align-items: flex-end;
  }

  &__title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    width: 50vw;

    @media (max-width: 1024px) {
      margin-bottom: 4vh;
      text-align: left;
    }
  }

  &__buttons,
  &__title {
    flex: 0 0 50%;

    @media (max-width: 1024px) {
      min-width: 80%;
    }
  }

  &__main-banner {
    text-shadow: 2px 3px 10px black;
    font-weight: 900;
    color: #fff;
    top: 50%;
    width: 60%;

    &.name {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

    &.great {
      color: $primary;
    }

    &.developer {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

    @media (max-width: 1024px) {
      align-self: center;
      width: 100%;
      text-align: center;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  canvas.particles-js-canvas-el {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
  }
}
</style>
